body{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}
.box1{
    width: 180px;
    height: 270px;
    background-color: white;
    transform: translateY(220px);
    border-radius: 7px;   
}
.pict{
    width: 165px;
    height: 165px;
    background-image:url(./pictures/pic1.jpg);
    background-size: cover;
    border-radius: 7px ;
    margin: 7px;
    
}
.text{
    transform: translateY(10px);
    margin: 7px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.point{
    transform: translate(30px,-2px);

}
.info{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 7px;
}
